@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --Indigo: #3B7EF7;
    --TextCol: #313131;
    --TextColAlt: #670000;
    --BgCol: #eae7e4;
    /*
    --Accent1: #EBBC17;
    */
    --Accent1: #000000;
    --Accent2: #efcaa8;
    /*--Gray: #C1C1C120;*/
}

@font-face {
    font-family: 'Hermit';
    /*src: url("/fonts/Hermit-Regular.otf");*/
    src: url('/fonts/range-regular.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('/fonts/Garamond.ttf');
}

@font-face {
    font-family: 'Range-Mono';
    /*src: url("/fonts/Hermit-Regular.otf");*/
    src: url('/fonts/range-mono-medium.ttf');
}

@font-face {
    font-family: 'Rubik';
    /*src: url("/fonts/Hermit-Regular.otf");*/
    src: url('/fonts/Rubik.ttf');
}

html, body {
    background-color: var(--BgCol);
    color: var(--TextCol);
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Garamond', serif;
    font-size: 112%;
    font-weight: 400;
    scroll-behavior: smooth;
}

p {
    z-index: 10;
    line-height: 1.75;
}

h1 {

    /*
    color: var(--BgCol);
    background-color: var(--Accent1);
     */
    /*
    font-family: 'Libre Baskerville 32px', serif !important;
    */
    font-family: 'Garamond', serif !important;

    animation: fadeIn 1s;
}

h2 {

    animation: fadeIn 1s;

    color: var(--Accent1);
    font-family: 'Garamond', serif !important;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100%;}
}

h3 {
    color: var(--Accent1);
    font-family: 'Garamond', serif !important;

    animation: fadeIn 1s;
}

.ra {
    /*background-color: var(--Accent1);*/
    transition: background-color 1s, transform 0.5s;
    /*outline: 2px dashed;*/
    width: max-content;
}

.ra:hover {
    background-color: grey;
    /*
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: var(--Accent1);
    text-decoration: underline;
}

a:visited {
    color: var(--Accent1);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.index-main {
    outline: 2px dashed;
}

.main-content {
    position: relative;
    min-height: 85vh;
    background-color: #1e398500 !important;
}
@media (min-aspect-ratio: 1/1) {
    .single-content {
        padding-left: 35vw;
        padding-right: 35vw;
    }
}

.column {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    height: 80vh;
}

.left {
    flex: 80%;
}

.right {
    /*outline: 2px dashed;*/
    flex: 20%;
    background-color: var(--Gray);
}

.footer{

    margin-top: 30px;
    border-top: 2px dotted lightgrey;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}


.tr > pre {
    background-color: rgb(255, 245, 230)!important;
}

.ul {
    text-align: left;
}

img {
    max-width: 80vw;
    max-height: 60vh;
}


blockquote {

    background: #00000008;
    border-left: 10px solid var(--TextCol);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

aside {
    background: #00000008;
    position: sticky;
    top: 2rem;
    align-self: start;
}


@media (min-aspect-ratio: 1/1) {
    .c-container {
    }
}

canvas {
    position: absolute;
    top: 10px;
    z-index: 1;
}

.previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 0.6vw 0.6vw;
}

.preview {
    color: var(--BgCol);
    height: 15vw;
    width: 15vw;
    text-transform: uppercase;
    padding: 0.3em;
    font-family: 'Garamond', serif;
    font-weight: 600;
    font-size: 2.5vw;

    overflow-wrap: break-word;

    background: linear-gradient(to right, black 50%, var(--TextCol) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

a.preview:link {
    text-decoration: none;
}

.previews a { text-decoration: none }

.preview:hover {
    transition: all .2s linear;
    background-position: left bottom;
}

.homepage {
    padding-left: 5vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 10vh;

    margin-bottom: 5vh;
}