html, body {
    background-color: blanchedalmond;
    color: blue;
    font-family: 'Slabo 32px', serif;
}

.ra {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 1s, transform 10s;
    /*outline: 2px dashed;*/
    width: 20%;
    text-align: center;
}

.ra:hover {
    background-color: rgb(255, 174, 0);
    transform: rotate(1360deg);
    -webkit-transform: rotate(1360deg);
}

.index-main {
    outline: 2px dashed;
}

.main-content {
    min-height: 85vh;
}

.single-content {
    margin-left: 50vh;
    margin-right: 50vh;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    height: 80vh;
}

.left {
    flex: 80%;
}

.right {
    outline: 2px dashed;
    flex: 20%;
    background-color: burlywood;
}

.footer{

    margin-top: 30px;
    border-top: 2px dotted burlywood;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}