:root {
    --Indigo: #3B7EF7;
    --DarkIndigo: #22004F;
    /*
    --Yellow: #EBBC17;
    */
    --Yellow: #B87112;
}

html, body {
    background-color: #F2EFE4;
    color: var(--DarkIndigo);
    font-family: 'Barlow', sans-serif;
    font-size: 103.5%;
    font-weight: 500;
}

p {
    line-height: 1.75;
}

h1 {
    color: var(--Yellow);
    /*
    font-family: 'Libre Baskerville 32px', serif !important;
    */
    font-family: 'Playfair Display', serif !important;
}

h2 {

    color: var(--Yellow);
    font-family: 'Playfair Display', serif !important;
}

h3 {
    color: var(--Yellow);
    font-family: 'Playfair Display', serif !important;
}

.ra {
    /*background-color: var(--Yellow);*/
    transition: background-color 1s, transform 0.5s;
    /*outline: 2px dashed;*/
    width: max-content;
}

.ra:hover {
    background-color: grey;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: var(--Yellow);
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.index-main {
    outline: 2px dashed;
}

.main-content {
    min-height: 85vh;
}
@media (min-aspect-ratio: 1/1) {
    .single-content {
        margin-left: 30%;
        margin-right: 30%;
    }
}

.column {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    height: 80vh;
}

.left {
    flex: 80%;
}

.right {
    outline: 2px dashed;
    flex: 20%;
    background-color: var(--DarkIndigo);
}

.footer{

    margin-top: 30px;
    border-top: 2px dotted lightgrey;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}


.tr > pre {
    background-color: rgb(255, 245, 230)!important;
}

.ul {
    text-align: left;
}

img {
    max-width: 80vw;
    max-height: 60vh;
}
