<meta charset="utf-8">
<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="gbrls's hacking blog">
    <title>gbrls's blog</title>

</head>

<body>

    {% set rootsec = get_section(path="_index.md") %}

    <nav class="toplist">
        <ul>

            <li><a href="/"><code>~/</code></a></li>
            {% for sec in rootsec.subsections | sort %}

            {%set section = get_section(path=sec) %}
            <li><a href="{{section.permalink}}"><code>{{section.path}}</code></a></li>

            {% endfor %}

            <li><a href="/rss.xml"><code>/rss/</code></a></li>
        </ul>
    </nav>

    <main class="content">
        {% block content %}{% endblock content %}
    </main>
    <img src="https://collaborator.gbrls.workers.dev/pixel{{current_path}}" style="height:1px !important; width:1px !important; border: 0 !important; margin: 0 !important; padding: 0 !important" width="1" height="1" border="0">
</body>

</html>
