{% macro g0() %}
      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1662680770 {
    /* customize your Goodreads widget container here*/
    border: 0px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    color: #dee2e6;
    width: 300px
  }
  .gr_custom_header_1662680770 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80%
  }
  .gr_custom_each_container_1662680770 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1662680770 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1662680770 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1662680770 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1662680770 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1662680770">
          <div class="gr_custom_container_1662680770">
    <h2 class="gr_custom_header_1662680770">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/144554425-gabriel-schneider?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Gabriel&#39;s bookshelf: read</a>
    </h2>
      <div class="gr_custom_each_container_1662680770">
          <div class="gr_custom_book_container_1662680770">
            <a title="Dune (Dune, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/4849141696?utm_medium=api&amp;utm_source=custom_widget"><img alt="Dune" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1555447414l/44767458._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1662680770">
            <span class=" staticStars notranslate" title="liked it"><img alt="liked it" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1662680770">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/4849141696?utm_medium=api&amp;utm_source=custom_widget">Dune</a>
          </div>
          <div class="gr_custom_author_1662680770">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/58.Frank_Herbert">Frank Herbert</a>
          </div>
          <div class="gr_custom_review_1662680770">
            A bit overrated. Very good setting and fantasy, the science part lacks a bit, but it's interesting nonetheless.
          </div>
      </div>
      <div class="gr_custom_each_container_1662680770">
          <div class="gr_custom_book_container_1662680770">
            <a title="Profession" rel="nofollow" href="https://www.goodreads.com/review/show/4744702107?utm_medium=api&amp;utm_source=custom_widget"><img alt="Profession" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1335202578l/13614182._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1662680770">
            <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_1662680770">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/4744702107?utm_medium=api&amp;utm_source=custom_widget">Profession</a>
          </div>
          <div class="gr_custom_author_1662680770">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/16667.Isaac_Asimov">Isaac Asimov</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1662680770">
          <div class="gr_custom_book_container_1662680770">
            <a title="The Three-Body Problem (Remembrance of Earth’s Past, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/4744699902?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Three-Body Problem" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1415428227l/20518872._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1662680770">
            <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1662680770">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/4744699902?utm_medium=api&amp;utm_source=custom_widget">The Three-Body Problem</a>
          </div>
          <div class="gr_custom_author_1662680770">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/5780686.Liu_Cixin">Liu Cixin</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Gabriel, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/144554425.Gabriel's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=3&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1662680770&widget_text_color=dee2e6&widget_title_size=small&widget_width=medium" type="text/javascript" charset="utf-8"></script>
{% endmacro %}
