div
    border-style: none
    border-radius: 2px
    border-color: brown

    padding: 0.4em
    margin: 0.5em

.toplist
    padding: 0.0em
    margin: 0.0em
    color: green
    background-color: beige
    list-style-type: hebrew

    a
        color: black
        text-decoration: wavy
        font-weight: bold

    a:hover
        color: green

    li
        list-style-type: hebrew
        float: left

.footer img
    width: 20vw

li
    padding: 0.4em
    margin: 0.5em

ul
    list-style-type: square
    overflow: hidden

.content
    border-left: 6px double green

h1
    border-bottom: 2px solid green
    border-image: linear-gradient(to right, green,40%, white) 1

pre
    margin: 0
    padding: 0