@font-face
    // This is parsed as a normal function call that takes a quoted string.
    src: url("https://github.com/gbrls/gbrls.github.io/raw/toadhacker/static/fonts/HelveticaNeueMedium.ttf") format("ttf")

    font-family: "Helvetica Neue"
    font-weight: 100

div
    padding: 0.4em
    margin: 0.5em

body
    font-family: 'Helvetica Neue'
    margin: 0
    padding: 0 1em
    background-color: #2b4e3f
    //background-image: url('https://thumbs.dreamstime.com/b/frog-illustration-vintage-woodcut-engraving-th-century-frog-illustration-vintage-woodcut-128721097.jpg')
    background-size: 20%


.toplist
    height: fit-content
    float: left
    top: 0
    width: 105%
    padding: 0
    margin-top: -0.2em
    margin-left: -1.1em
    margin-bottom: 1.1em
    color: #56949f
    background-color: #f2e9e1
    list-style-type: hebrew
    font-size: 1.2em

    a
        color: #9893a5
        text-decoration: wavy
        font-weight: bold

    a:hover
        color: #286983

    li
        list-style-type: hebrew
        float: left
        margin: 0 1.2em
    ul
        margin: 0

.footer img
    width: 20vw

li
    text-wrap: wrap
    padding: 0.2em
    margin: 0.1em
    pre
        font-size: 1.2em
        a
            text-decoration: none
            font-weight: bold
            color: #286983

ul
    list-style-type: square
    overflow: hidden
    margin: 0


pre
    margin: 0

h1
    margin-top: 1.2em

    border-bottom: 3px solid green
    border-image: linear-gradient(to right, #286983,20%, #fffaf3) 1
    pre
        margin: 0
        background-color: #fffaf3	!important
        border-width: 0px !important
        border-color: #908caa !important
        border-style: none !important


.content
    padding: 2em
    margin: 0em auto
    margin-bottom: 5em
    background-color: #fffaf3	
    color: #575279
    min-width: 80vw
    max-width: 50em

    pre
        margin: 0
        border-radius: 4% !important
        color: #907aa9 !important
        background-color: #faf4ed !important
        border-width: 2px !important
        border-color: #908caa !important
        border-style: dashed !important
        code
            background-color: #faf4ed
            span
                padding-top:  2em
                padding-bottom: 2em
                border-radius: 2% !important

a
    color: #56949f

img
    max-width: 80%

pre[class^="language-"]
    padding: 1.2em
    font-size: 120%
    overflow-wrap: anywhere
    font-family: jetbrains-mono
    font-variant-ligatures: discretionary-ligatures
    white-space: break-spaces

@font-face
    font-family: jetbrains-mono
    src: url(fonts/jetbrains-mono.woff2)

a[href*="danger-zone"]:hover
    color: #b4637a

article
    line-height: 1.5

.date
    color: grey


footer
    background-color: white
